DATABASE_URL=your_database_url
TEST_DATABASE_URL=your_database_url_for_tests
MAIL_USERNAME=your_email
MAIL_PASSWORD=your_app_password
MAIL_FROM=your_email
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
USE_CREDENTIALS=True
VALIDATE_CERTS=True
FRONTEND_URL=front_url
LOG_LEVEL=WARNING
LOG_FORMAT=console