# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.env
*.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
.env

# База данных
*.db
*.sqlite3

# Локальные настройки
app/config_local.py